<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>

    <link rel="icon" type="image/png" href="/public/assets/todo_icon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

<% include partials/nav %>

<div class="container main">

    <% if(locals.flash && locals.flash.error) { %>
    <div class="alert alert-danger" role="alert">
        <%= flash.error %>
    </div>
    <% } %>

    <% if(locals.flash && locals.flash.success) { %>
    <div class="alert alert-success" role="alert">
        <%= flash.success %>
    </div>
    <% } %>

    <%- content %>
</div>


<!--
<div class="licence-favicon text-center">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/public/js/main.js"></script>

</body>
</html>